---
title: Beautons
isObject: true
---

<h2 class="section-title" id="beautons">Beautons</h2>
<h3>Button Sizes</h3>
<button class="btn-demo btn" data-codeblock="#btn">Button</button>
<div id="btn" class="demo-code"></div>
<button class="btn-demo btn btn--small" data-codeblock="#btn--small">Small Button</button>
<div id="btn--small" class="demo-code"></div>
<button class="btn-demo btn btn--large" data-codeblock="#btn--large">Large Button</button>
<div id="btn--large" class="demo-code"></div>
<button class="btn-demo btn btn--huge" data-codeblock="#btn--huge">Huge Button</button>
<div id="btn--huge" class="demo-code"></div>
<button class="btn-demo btn btn--full" data-codeblock="#btn--full">Full Button</button>
<div id="btn--full" class="demo-code"></div>
<hr />
<h3>Font Sizes</h3>
<button class="btn-demo btn btn--alpha" data-codeblock="#btn--alpha">Alpha</button>
<div id="btn--alpha" class="demo-code"></div>
<button class="btn-demo btn btn--beta" data-codeblock="#btn--beta">Beta</button>
<div id="btn--beta" class="demo-code"></div>
<button class="btn-demo btn btn--gamma" data-codeblock="#btn--gamma">Gamma</button>
<div id="btn--gamma" class="demo-code"></div>
<button class="btn-demo btn btn--natural" data-codeblock="#btn--natural">Natural</button>
<div id="btn--natural" class="demo-code"></div>
<hr />
<h3>Button Functions</h3>
<button class="btn-demo btn btn--primary" data-codeblock="#btn--primary">Primary</button>
<div id="btn--primary" class="demo-code"></div>
<button class="btn-demo btn btn--secondary" data-codeblock="#btn--secondary">Secondary</button>
<div id="btn--secondary" class="demo-code"></div>
<button class="btn-demo btn btn--tertiary" data-codeblock="#btn--tertiary">Tertiary</button>
<div id="btn--tertiary" class="demo-code"></div>
<hr />
<h3>Button Actions</h3>
<button class="btn btn--positive" data-codeblock="#btn--positive">Positive</button>
<div id="btn--positive" class="demo-code"></div>
<button class="btn btn--negative" data-codeblock="#btn--negative">Negative</button>
<div id="btn--negative" class="demo-code"></div>
<button class="btn btn--inactive" data-codeblock="#btn--inactive">Inactive</button>
<div id="btn--inactive" class="demo-code"></div>
<hr />
<h3>Button Styles</h3>
<button class="btn-demo btn btn--soft" data-codeblock="#btn--soft">Soft</button>
<div id="btn--soft" class="demo-code"></div>
<button class="btn-demo btn btn--hard" data-codeblock="#btn--hard">Hard</button>
<div id="btn--hard" class="demo-code"></div>
<hr />
