---
title: Flexbox
isObject: true
---

<h2 class="section-title" id="flexbox">FlexBox</h2>
<p>Until we can utilise flexbox natively we can kinda, sorta, attempt to emulate it</p>
<h3>FlexBox Default</h3>
<div class="flexbox" data-codeblock="#flexbox--default">
	<div class="flexbox__item flexbox-demo">
		<b>Welcome to</b>
	</div>
	<div class="flexbox__item flexbox-demo">
		<img src="http://placehold.it/600x150" alt="inuit.css logo">
	</div>
</div>
<div id="flexbox--default" class="demo-code"></div>
<hr />

<h3>FlexBox with Grids</h3>
<div class="flexbox" data-codeblock="#flexbox--grids">
	<div class="flexbox__item  one-quarter greybox flexbox-demo">
		<p>One Quarter</p>
	</div>
	<div class="flexbox__item  three-quarters greybox flexbox-demo">
		<p>Three Quarters</p>
	</div>
</div>
<div id="flexbox--grids" class="demo-code"></div>
<hr class="rule rule--ornament" />
