---
title: Greybox
isObject: true
---

<h2 class="section-title" id="greybox">GreyBox - For Prototyping</h2>
<p>Quickly throw together greybox wireframes. Use in conjunction with other inuit.css objects to create simple greybox prototypes</p>
<h3>Generic</h3>
<ul class="nav nav--fit nav--block greybox" data-codeblock="#greybox--generic">
  <li><a href=#>Home</a></li>
  <li><a href=#>About</a></li>
  <li><a href=#>Portfolio</a></li>
  <li><a href=#>Contact</a></li>
</ul>
<div id="greybox--generic" class="demo-code"></div>
<hr />
<h3>Greybox Sizes</h3>
<div class="island greybox greybox--small" data-codeblock="#greybox--small">Small</div>
<div id="greybox--small" class="demo-code"></div>
<hr />
<div class="island greybox greybox--medium" data-codeblock="#greybox--medium">Medium</div>
<div id="greybox--medium" class="demo-code"></div>
<hr />
<div class="island greybox greybox--large" data-codeblock="#greybox--large">Large</div>
<div id="greybox--large" class="demo-code"></div>
<hr />
<div class="island greybox greybox--huge" data-codeblock="#greybox--huge">Header</div>
<div id="greybox--huge" class="demo-code"></div>
<hr />
<div class="island greybox greybox--gigantic" data-codeblock="#greybox--gigantic">Gigantic</div>
<div id="greybox--gigantic" class="demo-code"></div>
<hr class="rule rule--ornament" />
