---
title: Images
isObject: true
---

<h2 class="section-title" id="images">Images</h2>
<p>Non-fluid images if you specify <em>width</em> and/or <em>height</em> attributes.</p>
<img src="http://placekitten.com/g/300/200" alt="" width="300" height="200" data-codeblock="#img--default"/>
<div id="img--default" class="demo-code"></div>
<hr />
<h3>Image Sizes</h3>
<p>Keep your images on your baseline. Please note, these will not work too nicely with fluid images and will distort when resized below a certain width. <strong>Use with caution</strong>.</p>
<h4>.img--short</h4>
<img src="http://placekitten.com/g/300/200" alt="" class="img--short" data-codeblock="#img--short">
<div id="img--short" class="demo-code"></div>
<hr />
<h4>.img--medium</h4>
<img src="http://placekitten.com/g/300/200" alt="" class="img--medium" data-codeblock="#img--medium">
<div id="img--medium" class="demo-code"></div>
<hr />
<h4>.img--tall</h4>
<img src="http://placekitten.com/g/300/200" alt="" class="img--tall" data-codeblock="#img--tall">
<div id="img--tall" class="demo-code"></div>
<hr />
<h3>Image placement variations</h3>
<h4>.img--right</h4>
<img src="http://placekitten.com/g/300/200" alt="" class="img--right" data-codeblock="#img--right">
<div id="img--right" class="demo-code"></div>
<hr />
<h4>.img--left</h4>
<img src="http://placekitten.com/g/300/200" alt="" class="img--left" data-codeblock="#img--left">
<div id="img--left" class="demo-code"></div>
<hr />
<h4>.img--center</h4>
<img src="http://placekitten.com/g/300/200" alt="" class="img--center" data-codeblock="#img--center">
<div id="img--center" class="demo-code"></div>
<hr class="rule rule--ornament" />
