---
title: Media
isObject: true
---

<h2 class="section-title" id="media">Media</h2>
<p>Place any image- and text-like content side-by-side</p>
<h3>Regular</h3>
<div class="media" data-codeblock="#media--default">
    <img src=http://placekitten.com/96/96 alt="" class="media__img">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div id="media--default" class="demo-code"></div>
<hr />
<h3>Reversed</h2>
<div class="media" data-codeblock="#media--rev">
    <img src=http://placekitten.com/96/96 alt="" class="media__img--rev">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div id="media--rev" class="demo-code"></div>
<hr class="rule rule--ornament" />
