---
title: Nav
isObject: true
---

<h2 class="section-title" id="nav">Nav</h2>
<p>Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction When used on an `ol` or `ul`, this class throws the list into horizontal mode</p>
<h3>Default</h3>
<ul class="nav" data-codeblock="#nav--default">
   <li>Foo</li>
   <li>Bar</li>
   <li>Baz</li>
   <li>Boo</li>
</ul>
<div id="nav--default" class="demo-code"></div>
<hr />
<h3>Stacked</h3>
<p>`.nav--stacked` extends `.nav` and throws the list into vertical mode</p>
<ul class="nav nav--stacked" data-codeblock="#nav--stacked">
   <li>Foo</li>
   <li>Bar</li>
   <li>Baz</li>
   <li>Boo</li>
</ul>
<div id="nav--stacked" class="demo-code"></div>
<hr />
<h3>Banner</h3>
<p>`.nav--banner` extends `.nav` and centres the list</p>
<ul class="nav nav--banner" data-codeblock="#nav--banner">
   <li>Foo</li>
   <li>Bar</li>
   <li>Baz</li>
   <li>Boo</li>
</ul>
<div id="nav--banner" class="demo-code"></div>
<hr />
<h3>Block</h3>
<p>Give nav links a big, blocky hit area. Extends `.nav`</p>
<ul class="nav nav--block" data-codeblock="#nav--block">
   <li><a href=# class="greybox">Foo</a></li>
   <li><a href=# class="greybox">Bar</a></li>
   <li><a href=# class="greybox">Baz</a></li>
   <li><a href=# class="greybox">Boo</a></li>
</ul>
<div id="nav--block" class="demo-code"></div>
<hr />
<h3>Fit</h3>
<p>Force a nav to occupy 100% of the available width of its parent. Extends `.nav`</p>
<ul class="nav nav--fit" data-codeblock="#nav--fit">
   <li><a href=# class="greybox">Foo</a></li>
   <li><a href=# class="greybox">Bar</a></li>
   <li><a href=# class="greybox">Baz</a></li>
   <li><a href=# class="greybox">Boo</a></li>
</ul>
<div id="nav--fit" class="demo-code"></div>
<hr />
<h3>Keywords</h3>
<p>Make a list of keywords. Extends `.nav`</p>
<ul class="nav nav--keywords" data-codeblock="#nav--keywords">
   <li>Foo</li>
   <li>Bar</li>
   <li>Baz</li>
   <li>Boo</li>
</ul>
<div id="nav--keywords" class="demo-code"></div>
<hr class="rule rule--ornament" />
