---
title: Rule
isObject: true
---

<h2 class="section-title" id="rule">Rule</h2>
<p>Horizontal rules, extend `hr`.</p>
<h3>Default</h3>
<hr data-codeblock="#rule--default" />
<div id="rule--default" class="demo-code"></div>
<h3>Dotted</h3>
<hr class="rule rule--dotted" data-codeblock="#rule--dotted" />
<div id="rule--dotted" class="demo-code"></div>
<hr />
<h3>Dashed</h3>
<hr class="rule rule--dashed" data-codeblock="#rule--dashed" />
<div id="rule--dashed" class="demo-code"></div>
<hr />
<h3>Ornamental Rules</h3>
<p>Ornamental rules. Places a &sect; over the rule.</p>
<hr class="rule rule--ornament" data-codeblock="#rule--ornament" />
<div id="rule--ornament" class="demo-code"></div>
<hr />
<p>Pass in an arbitrary ornament though a data attribute</p>
<hr class="rule  rule--ornament" data-ornament="!" data-codeblock="#rule--ornament-custom" />
<div id="rule--ornament-custom" class="demo-code"></div>
<hr class="rule rule--ornament" />
