---
title: Split
isObject: true
---

<h2 class="section-title" id="split">Split</h2>
<p>Simple split item for creating two elements floated away from one another</p>
<dl class="split" data-codeblock="#split--default">
   <dt class="split__title">Burger and fries</dt>
   <dd>&pound;5.99</dd>
   <dt class="split__title">Fillet steak</dt>
   <dd>&pound;19.99</dd>
   <dt class="split__title">Ice cream</dt>
   <dd>&pound;2.99</dd>
</dl>
<div id="split--default" class="demo-code"></div>
<hr class="rule rule--ornament" />
