body {
	max-width: 960px;
	margin: 0 auto;
	padding: 24px;
}

.section-title {
	margin-top: 2em;
	border-bottom:1px solid grey;
	&:first-child {
		margin-top: 0;
	}
}

//Beautons
.btn-demo {
	margin-bottom: 0.5em;
}

//Full Bleed
.bleed-demo {
	background-color: blue;
}

//Flexbox
.flexbox-demo {
	margin-bottom:  1em;
	border: 1px solid black;
}

//Floats
.float-demo {
	width: 100px;
	+ hr  {
		clear: both;
	}
}

//Grids
.grid-demo {
	border: 1px solid black;
}
