---
title: Grids
isPartial: true
---

<h2 class="section-title" id="grids">Grids</h2>
<p>Fluid and nestable grid system</p>
<h3>Regular</h3>
<div class="grid">
    
    <div class="grid__item one-whole">
        <p class="greybox">1</p>
    </div><!--
    
 --><div class="grid__item one-half">
        <p class="greybox">2</p>
    </div><!--
    
 --><div class="grid__item one-quarter">
        <p class="greybox">3</p>
    </div><!--
    
 --><div class="grid__item one-quarter">
        <p class="greybox">4</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox">5</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox">6</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox">7</p>
    </div>
    
</div>
<h3>Reversed</h3>
<div class="grid grid--rev">
    
    <div class="grid__item one-whole">
        <p class="greybox">1</p>
    </div><!--
    
 --><div class="grid__item one-half">
        <p class="greybox">2</p>
    </div><!--
    
 --><div class="grid__item one-quarter">
        <p class="greybox">3</p>
    </div><!--
    
 --><div class="grid__item one-quarter">
        <p class="greybox">4</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox">5</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox">6</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox">7</p>
    </div>
    
</div>
<h3>Full</h3>
<div class="grid grid--full">
    
    <div class="grid__item one-whole">
        <p class="greybox grid-demo">1</p>
    </div><!--
    
 --><div class="grid__item one-half">
        <p class="greybox grid-demo">2</p>
    </div><!--
    
 --><div class="grid__item one-quarter">
        <p class="greybox grid-demo">3</p>
    </div><!--
    
 --><div class="grid__item one-quarter">
        <p class="greybox grid-demo">4</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox grid-demo">5</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox grid-demo">6</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox grid-demo">7</p>
    </div>
    
</div>
<h3>Center</h3>
<div class="grid grid--center">
    
    <div class="grid__item one-whole">
        <p class="greybox">1</p>
    </div><!--
    
 --><div class="grid__item one-half">
        <p class="greybox">2</p>
    </div><!--
    
 --><div class="grid__item one-quarter">
        <p class="greybox">3</p>
    </div><!--
    
 --><div class="grid__item one-quarter">
        <p class="greybox">4</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox">5</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox">6</p>
    </div><!--
    
 --><div class="grid__item one-third">
        <p class="greybox">7</p>
    </div>
    
</div>